---
import type { GetStaticPaths } from "astro";
import { getTrails } from "../../utils/getTrails";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import WalkCard from "../../components/walkCard.astro";
import TrailMap from "../../components/trailMap.astro";

export const getStaticPaths = (async () => {
  const sortedTrails = await getTrails();

  return sortedTrails.map((trail) => {
    return {
      params: { trail: trail.id },
      props: { trail },
    };
  });
}) satisfies GetStaticPaths;

const { trail } = Astro.props;
---

<Layout title={trail.data.name} showCopyright>
  <div class="pt-6 gap-4">
    <div class="flex flex-col justify-center">
      <h1 class="text-4xl font-light mb-6">{trail.data.name}</h1>
      <h2>{trail.data.description}</h2>
      <div class="flex gap-4 pt-2 w-full items-center flex-wrap">
        <span class="flex items-center gap-x-2 text-sm text-slate-500">
          <Icon name="lucide:route" class="size-4" />
          {trail.trailLength}km</span
        >
        <span class="flex items-center gap-x-2 text-sm text-slate-500">
          <Icon name="lucide:footprints" class="size-4" />
          {trail.walks.length}
          {trail.walks.length === 1 ? "walk" : "walks"}</span
        >
        <div class="grow">
          {
            trail.completedDistance > 0 && (
              <div class="flex flex-nowrap items-center gap-3">
                <span
                  class={`text-sm font-medium whitespace-nowrap shrink-0 ${trail.percentComplete === 100 ? "text-green-600" : "text-sky-600"}`}
                >
                  {trail.percentComplete === 100 ? "Completed" : "In progress"}
                </span>

                <div class="w-full h-2 bg-slate-200 rounded-full overflow-hidden flex-1 min-w-24 max-w-52">
                  <div
                    class={`h-full transition-all duration-300 ${trail.percentComplete === 100 ? "bg-green-600" : "bg-sky-600"}`}
                    style={`width: ${trail.percentComplete}%;`}
                  />
                </div>

                <span class="text-sm text-slate-500 whitespace-nowrap shrink-0">
                  {trail.percentComplete}% complete
                </span>
              </div>
            )
          }
        </div>
      </div>
    </div>
  </div>
  <div class="h-[400px] my-6">
    <TrailMap trailRoute={trail.trailGeojson} completedRoute={trail.overlap} />
  </div>
  <div class="pt-4">
    <h2 class="text-2xl font-light mb-6">Walks</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 pb-8">
      {trail.walks.map((walk) => <WalkCard walk={walk} />)}
    </div>
  </div>
</Layout>
